.Services{
    height: 100vh;
    background-color: black;  
    color: white;
    margin: 48px;
}
.service_container h4{
    font-weight: 400;
    font-size: 1.3vw;
    margin-top: 2.4rem;
}
.service_container h1{
    font-weight: 700;
    font-size: 3.5vw;
    margin-top: 4vw;
}
.services_list{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
}
.services_list hr{
    width: 100%;
    border: 0.7px solid rgb(116, 116, 116);
}
.services_list ul{
    list-style: none;
}
.services_list li{
    margin: 25px 0px;
}
.services_list li:hover{
    color: rgb(163, 163, 163);
    cursor: pointer;
    /* background-color: rgba(77, 77, 77, 0.601); */
}
.services_list p{
    font-weight: 200;
    font-size: 1.4vw;
    margin-top: 25px;
}
.services_list h4{
    font-size: 1.2vw;
    margin-top: 15px;
}
.services_quote{
    width: 30%;
}
.services_list1{
    width: 30%;
}
.services_list2{
    width: 30%;
}
@media (max-width: 1040px) {
    .services_list{
        flex-direction: column;
    }
    .services_quote{
        width: 100%;
    }
    .services_quote h4{
        font-size: 1.5rem;
        margin: 2.3vw 0px;
    }
    .services_list1{
        width: 100%;
    }
    .service_container h4{
        font-size: 3vw;
    }
    .services_list1 p{
        font-size: 1.5rem;
        font-weight: 100;
    }
    .services_list2{
        width: 100%;
    }
    .services_list2 p{
        font-size: 1.5rem;
        font-weight: 100;
    }
}
@media (max-width: 450px) {
    .Services{
        margin: 24px;
    }
    .service_container h4{
        font-size: 1rem;
    }
    .service_container h1{
        font-size: 1.4rem;
    }
}